Não estápronta

<!--<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <form action="">
                    <img [src]="logo" [width]="largura" [height]="altura" alt="">
                
                    <input type="text" class="form-control" [ngModel]="nome">
                    <input type="text" class="form-control" [ngModel]="dataNasc">
                    <input type="text" class="form-control" [ngModel]="eMail">

                    <button (click)="limparCampos()">Limpar campos</button>
                    <button (click)="enviarDados()">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>-->